body {
    font-family: Arial, sans-serif;
    background-color: #F1EAFF;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: #4c1e75;
    text-align: center;
    background-color:#E5D4FF ;
    padding: 50px;
    border-radius: 20px;
}

h2 {
    text-align: center;
    color: #4c1e75;
}
h4 {
    text-align: center;
    color: #4c1e75;
}

h3 {
    text-align: center;
    color: #4c1e75;
    padding: 30px;
    background-color: #DCBFFF;
    font-size: 30px;
}

b {
    font-size: 20px;
}

p {
    font-size: 20px;
}
img.persegi {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-color: #4c1e75;
}

button {
    background-color: #1badd6;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 30px;
}

button:hover {
    background-color: #ba1748;
}

h5 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #7734dc;
}

.resetbutton {
    margin-right: 30px;
    background-color: yellowgreen;
}

.persegibutton {
    background-color: #1badd6;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 3%;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.persegipanjangbutton {
    background-color: #1badd6;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 3%;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}